@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("../assets/Scottsboro\ Boys-capa-inicial.png") no-repeat center center fixed;
  font-family: 'Old Standard TT', serif;
  background-size: cover;
  font-size: 62.5%; /* 1rem = 10px (considerando padrão do navegador de 16px) */
}

.container {
  display: flex;
  flex-direction: column; /* Altera de "linha" para "coluna" */
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 7rem;
  width: 100%;     /* Garante 100% da largura */
}

.content {

}

.texto-destaque {
  padding: 2rem;
  background-color: #a29889;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);

  h1{
    font-size: 9rem;
    font-weight: bold;
  }

  p{
    top: 2rem;
    font-size: 4rem;
    font-weight: bold;
  }
}

.favicon-seta {
  text-align: center;
  margin-top: 1rem;
  
  img {
    transform: rotate(180deg);
    width: 7rem; /* Tamanho personalizado */
    height: 7rem;
    border: 2px inset #411010;
    background-color: #7f1f1f;
    border-radius: 1.5rem;
    box-shadow: -1px -2px grey;
    transition: 200ms;
  }
  img:hover {
    transform: scale(1.5);
    transition: 200ms;
    box-shadow: 1px 2px grey;
  }
}

/* Estilos para celular */
@media (max-width: 767px) {

  .favicon-seta{
    img{
      width: 10rem;
      height: 10rem;
    }
  }
}