@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Old Standard TT', serif;
  display: flex;
  justify-content: center;
  align-items: center;
    background: url("../assets/Scottsboro\ Boys-capa-inicial.png") no-repeat center center fixed;
  background-size: cover;
}

.container {


  display: flex;
  padding-left: 40px; /* espaço entre a borda da tela e a sidebar */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 6px;
}