@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("../assets/capa-menu.jpg") no-repeat center center fixed;
  font-family: 'Old Standard TT', serif;
  background-size: cover;
  font-size: 62.5%; /* 1rem = 10px (considerando padrão do navegador de 16px) */
}

:root {
  --primary-color: #100f0d;
  --text-color: #a6a6a6;
  --bg-color: #f9f9f9;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  display: flex;
  min-height: 100vh;
  padding-left: 40px; /* espaço entre a borda da tela e a sidebar */
}

.sidebar {
  background-color: var(--primary-color);

}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar a {
  color: var(--text-color);
  text-decoration: none;
  padding: 12px 20px;
  transition: all 0.3s;

}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  flex: 1;
  margin-left: var(--sidebar-width);
  bottom: 0;
  margin-top: auto; /* Isso empurra o content para baixo */
  max-height: 100vh;
  overflow-y: auto;
}

.texto-destaque {
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 20px;
  text-align: center;
  font-style: italic;


}

/* Estilos para tablet na horizontal */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* Estilos para celular */
@media (max-width: 767px) {

}
