@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* Background padrão para desktop */
  background: var(--text-color) url("../assets/capa-menu.jpg") no-repeat center center/cover;
  min-height: 100vh;

  font-family: 'Old Standard TT', serif;
  font-size: 62.5%; /* 1rem = 10px (considerando padrão do navegador de 16px) */
}
:root {
  --primary-color: #100f0d;
  --text-color: #a6a6a6;
  --tomato: #7f1f1f;
}

body {
  color: var(--text-color);
  min-height: 100vh;
}

.container{
  display: flex;
  min-height: 100vh;
}

.sidebar{
  background-color: var(--primary-color);
  margin-left: 4rem;
  max-width: 20%;
  z-index: 10;            /* Garante que fique acima da caixa cinza */
  top: 0;
  bottom: 0;
  position: fixed;

  ul{
    list-style: none;
  }
  li{
    padding: 1rem;
    margin-top: 3rem;
    border: 1px solid #000;
  }

  a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 2.1rem;
    padding: 2rem;
    text-shadow: 1px 1px 2px var(--primary-color);
    cursor: pointer;
  }
}

.sidebar li:first-child{
  margin-top: 5rem;
}

.sidebar li:hover{
  background-color: var(--tomato);
}

.content{
  position: fixed;
  text-align: center;
  background-color: var(--text-color);
  color: #000;
  width: 100%;
  bottom: 0;
}

.texto-destaque{
  padding: 2rem;
  font-size: 3.8rem;
  margin-left: 30rem;
  line-height: 1.5;
}

/* Estilos para celular */
@media screen and (max-width: 767px) {
  html body{
    background: var(--text-color) !important;
    background-image: none !important; 
  }
  
  .container {
    flex-direction: column;
  }
  
  .sidebar {
    background-color: var(--primary-color);
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: 0;

    li{
      margin-top: 0;
    }
  }
  .sidebar li:first-child{
    margin-top: 0;
  }
  .sidebar a{
    padding: 1.5rem;
  }
  
  .texto-destaque {
    margin-left: 0;
    line-height: 1.3;
    font-size: 2.7rem;
  }
  
  .content {
    position: static;
  }
}